.loginBar{
    color: antiquewhite;
}

.menuBar{
    justify-content: right;
    width: 100%;
    font-size: 20px;
} 

.menuBar > .purchasesBar{
    margin-left: 0.3rem;
}

.menuBar > .loginBar{
    margin-left: 0.3rem;
}

.ecommerce{
    font-weight: 530;
}

.logOut > div{
    font-size: 2.8vw;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    padding: 0.2rem;

   
}

@media only screen and (min-width: 600px){
    .logOut > div{
        font-size: 17px;
}



