*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerApp{
   padding: 0.5rem;
   margin:1rem;

}

.containerList{
    border-style: solid;
    width: 100%;  
    height: 20rem;
    padding: 0.5rem;
    border-width: 1px;
    border-radius: 0.5rem;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 0 6px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.containerList > h3{
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 550;
}

.containerList > p{
    text-align: left;
    margin: 0;
    font-weight: 600;
    color: rgb(186, 194, 200);
  
}

.containerPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerPrice > button{
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        border-style: none;
        background-color: rgb(255, 68, 68);
        border-radius: 50%;
        box-shadow: rgb(245, 144, 144) 0 0 8px ;
        color: white;
}

.containerPrice > h4{
    text-align: left;
    margin-left: 2rem;  
    font-size: 15px;
}

.containerImg{
    text-align: center;
    width: 100%;
    height: 70%;
    border-bottom:solid;
    border-width: 1px;
    border-color: lightgray;
    
}

.description > p{
    text-overflow:ellipsis;
    overflow:hidden;
    width: 90%;
    height:5rem;
    white-space: pre-line;
  
}

.containerImg > img{
    width: 10rem;
    height: 10rem;
    object-fit:contain;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.containerListProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    max-width: 50rem;
}

.containerHome{
    margin: 1rem;
}

.filter{
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: right;

}

.filter > h1 {
    font-size: 18px;
}

h1>svg{
    color: rgb(173, 170, 170);
}

h1 > small{
    font-size: 13px;
}
.categoriesLeft{
    cursor: pointer;
}


@media only screen and (max-width: 480px) {
    .containerListProducts{
        display: grid;
        grid-template-columns: 1fr ;
       
    }

  .categories{
    width: 50%;
  }

  .filter{
    display: flex;
    justify-content: right;
  }
  .containerList{
    width: 15rem;
  }

    
}

@media only screen and (min-width: 480px) and (max-width:680px) {
    .containerListProducts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:space-evenly;
    
    }

    .containerList{
        border-style: solid;
        width: 13rem;  
        height: 17.5rem;
       
    }

    .inputContainer{
        padding:0 8%;
    }

   .filter{
    padding-right:8% ;
   }


}

@media only screen and (min-width: 680px) and (max-width:1024px) {
    .containerListProducts{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .leftContainer{
        width: 20%;
        margin-right: 0.5rem;
    }

    .rightContainer{
        width: 80%;
    }

    .containerHome{
        display: flex;
    }

    .filterOff{
        display: none;
    }
}

@media only screen and (min-width: 1024px)  {
    .containerListProducts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        max-width: 80rem;
    }
    .containerHome{
        display: flex;
        justify-content: space-evenly;
    }

    .filterOff{
        display: none;
    }

    .leftContainer{
        width: 10%;
        margin-right: 2rem;
    }

    .rightContainer{
        width: 90%;
    }
}